@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --clr-primary-1: hsl(31, 77%, 52%);
  --clr-primary-2: hsl(184, 100%, 22%);
  --clr-primary-3: hsl(179, 100%, 13%);
  --clr-neutral-100: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-200: hsl(0, 0%, 95%);
  --ff-primary: "Lexend Deca", sans-serif;
  --ff-secondary: "Big Shoulders Display", monospace;
  --link-border: 0.125rem solid var(--clr-neutral-200);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-neutral-100);
  font-size: 0.9375rem;
  font-family: var(--ff-primary);
  line-height: 1.5;
  min-height: 100dvh;
}

/* || GLOBAL STYLES */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

h2 {
  color: var(--clr-neutral-200);
  font-family: var(--ff-secondary);
  font-size: 2.5rem;
  margin-block: 1.25rem;
  text-transform: uppercase;
}

p {
  color: var(--clr-neutral-100);
  margin-block-end: 4.5rem;
}

a {
  text-decoration: none;
}

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  border-radius: 0.5rem;
  overflow: hidden;
  width: min(100% - 4rem, 51.875rem);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.button {
  background-color: var(--clr-neutral-200);
  border-radius: 100vw;
  border: var(--link-border);
  outline: none;
  padding: 0.6rem 1.5625rem;
  transition: 0.5s ease;
}

.button:is(:hover, :focus-visible) {
  background-color: transparent;
  color: var(--clr-neutral-200);
}

/* || MAIN STYLES */
.card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 2.4rem;
}

.card img {
  display: block;
  width: 4rem;
}

.card-1 {
  background-color: var(--clr-primary-1);
}

.card-2 {
  background-color: var(--clr-primary-2);
}

.card-3 {
  background-color: var(--clr-primary-3);
}

.button-1 {
  color: var(--clr-primary-1);
}

.button-2 {
  color: var(--clr-primary-2);
}

.button-3 {
  color: var(--clr-primary-3);
}

.attribution {
  font-size: clamp(0.7125rem, 0.7rem + 1.2vw, 1rem);
  margin-block-end: 1rem;
  text-align: center;
  width: 90%;
}

.attribution a {
  border-radius: 4px;
  color: #105251;
  font-weight: 700;
  outline-offset: 3px;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

.attribution a:focus-visible {
  outline: 2px solid #105251;
}

/* || LAYOUT STYLES */
@media (max-width: 49.99em) {
  .container {
    margin: 2rem 0 1.2rem;
    max-width: 25rem;
  }
}

@media (min-width: 50em) {
  .container {
    margin: 1.2rem 0;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .card {
    padding-inline: 2rem 2.2rem;
    padding-block: 2.6rem 2.8rem;
  }
}
